<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Food Order{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Food Order</a>

        {% if request.user.is_authenticated %}
        <div class="navbar-nav ms-auto">
            {% if request.user.is_client %}
                <a class="nav-link" href="{% url 'menu' %}">Меню</a>
                <a class="nav-link" href="{% url 'my_orders' %}">Мои заказы</a>
            {% endif %}
            {% if request.user.is_manager %}
                <a class="nav-link" href="{% url 'manager_clients' %}">Клиенты</a>
                <a class="nav-link" href="{% url 'manager_orders' %}">Заказы</a>
            {% endif %}
            <span class="nav-link text-light opacity-75">{{ request.user.email }}</span>
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </div>
        {% else %}
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </div>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
